div#logo {
            width: 144px;
            height: 38px;
            transform: translateY(-5vh);
            margin: 0 auto;
            background: url(../img/jaunt_icon_mobile.png)
}

.intro {
    transform: translateY(-3vh);
}

.intro > h2 {
    color: #757575;
    font-size: 1em;
}

div.intro h1 + h2 {
    margin-top: 10px;
}